@import "App.scss";

header {
  background-color: $main-color;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $main-color;
  z-index: 1;
  .logo {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    float: left;
    display: inline-flex;
    line-height: 100px;
  }
  .activeRoute {
    border: 1px solid $main-color;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    // padding-bottom: 1rem;
    // line-height: 40px;
  }
  nav,
  .car {
    float: right;
    line-height: 100px;
  }
  .car {
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem;
    line-height: normal;
  }
  nav a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    line-height: normal;
    padding: 0 1rem;
    font-size: 1rem;
    transition: all 500ms ease;
    &:hover {
      background-color: #ffffff;
      color: $main-color;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    background-color: #ffffff;
    .logo,
    .car {
      color: $main-color;
    }
    nav {
      width: 100%;
      text-align: center;
      line-height: 3rem;
      background-color: $main-color;
    }
  }
}
