@import "App.scss";
p,
h1,
h2,
h3,
a {
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: $main-color;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  .firstHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 30px;
  }
  .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
  }
  .activeRoute {
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    color: black !important;
    font-weight: bold;
  }
  nav {
    float: right;
    line-height: 100px;
  }
  nav a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    line-height: normal;
    padding: 0 1rem;
    font-size: 1rem;
    transition: all 500ms ease;
    &:hover {
      background-color: #ffffff;
      color: $main-color;
      border-radius: 5px 5px 0px 0px;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    background-color: #ffffff;
    .logo,
    .car {
      color: $main-color;
      font-family: "MuseoModerno", cursive;
    }
    nav {
      width: 100%;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: end;
      line-height: 3rem;
      background-color: $main-color;
      a {
        display: flex;
        color: #ffffff;
        text-decoration: none;
        line-height: normal;
        font-size: 1rem;
        transition: all 500ms ease;
        justify-content: center;
        width: 70px;
        height: 35px;
        align-items: center;
      }
    }
  }
}
